body {
	background-color: #F7F5E8;
	padding: 20px 0px 0px 0px;
	color: #000;
}

#page {
	display: table;
	width: 750px;
	margin: auto;
	background-color: white;
	box-shadow: 5px 5px 5px #333;
	padding: 50px 30px 100px 30px;
}

#gened {
	padding: 20px;
}

#students {
	backaground-color: yellow;
}

h2 {font-size:14pt;}
h1 {text-align: center; font-size:16pt;}
